<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% name = "Joel"%>
    <% last_name = "Cowie"%>
    <h1><%="Goodbye #{name} #{last_name}"%></h1>
  </body>
</html>
